.puzzle-container {
    position: relative;
    width: 720px;
    height: 900px;
    margin: 2rem auto;
}

.grid-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.puzzle-piece {
    /* position: absolute; */
    width: 240px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    /* transition: all 0.2s ease; */
}

.puzzle-piece.dragging {
    opacity: 0.8;
    z-index: 3;
}
